.react-calendar {
  width: 600px;
  max-width: 100%;
  background: #fff;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #e0e0e0;
  padding: 20px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border: none;
  font-size: 36px;
  color: #b09c93;
  cursor: pointer;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
  cursor: default;
}

.react-calendar__navigation__label {
  font-size: 32px;
  font-weight: bold;
  color: #b09c93;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #b09c93;
  font-weight: bold;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.react-calendar__month-view__days {
  display: flex;
  flex-wrap: wrap;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important; /* 요일 밑줄 제거를 확실히 적용 */
}

.react-calendar__tile {
  background: #e2d7d2;
  color: #401c0c;
  height: 80px;
  width: 60px;
  display: flex;
  align-items: flex-start; /* 상단 정렬 */
  justify-content: flex-start; /* 좌측 정렬 */
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: top;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 설정 */
  padding: 5px; /* 내용물의 패딩 추가 */
  border: 2px solid #fff; /* 흰색 테두리 추가 */
}

.react-calendar__tile--now {
  background: #f1ebe9;
  color: #401c0c;
  font-weight: bold;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f1ebe9;
  color: #401c0c;
}

.react-calendar__tile--active {
  background: #b09c93;
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #b09c93;
  color: #fff;
}
